{% extends "base_show.html" %}
{% block content %}
<div class="container" style="padding-top: 2cm;">

    <h3>You have due: {{ todo.name }}</h3>
    <h4 style="font-weight: bolder;">At :{{todo.due_date}}</h4>
    <a href="/{{todo.id}}/update"><button type="submit" class="btn btn-warning">Update</button></a>
    <a href="/{{todo.id}}/delete"><button type="submit" class="btn btn-danger">Delete</button></a>
    <a href="/"><button class ="btn btn-primary">Back</button></a>
</div>



{% endblock content %}
